
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    font-family: 'Poppins';
}


.link{
    text-decoration: none; 
    color: #333333;
}
.link:hover {
    background-color: #03344F;
    padding: 5px 10px;
    color: #ffffff; transform: rotate(360deg); border-radius: 9px;
    transition: ease-in; transition-duration: 0.4s;
       }
#arrival:hover{
    border: 0.6px dashed #03344F;
}

@media screen and (max-width: 428px) {
    *{
        margin: 0;
    }
     .link {
      font-size: 12px;
      font-weight: 600;
      color: #333333;
        }

    .instagram{
            background-color: white;
            height: 920px;
            display: grid;
            grid-template-columns: 0.7fr 0.3fr;
            gap: 50px;
            padding-top: 40px;
        }   
     .shop-image{
        flex-direction: column;
     }   
     .beauty-care, .follow{
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.4mm;
    }

    .shop-text{
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        color: #FFFFFF;
    } 
    .lorem{
        padding: 20px 0;
    }
      }



      .center{
        display: flex;
        flex-direction: column;
      }
      .inspo2{
        font-weight: 600;
        font-size: 18px;
      }
      #h5{
        font-style: italic;
        width: 80%;
      }

/**beauty and instagram**/
.instagram{
    background-color: #03344F;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    gap: 10px;
    padding: 40px 0 20px 0;
}
.shop{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.care{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    padding-left: 98px;
}
.beauty-care, .follow{
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.2mm;
}
.lorem{
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    opacity: 50%;
}
.shop-text{
    align-self: start;
    position: relative;
    left: 61px;
    font-weight: 700;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
}
.shop-image{
    display: flex;
    gap: 14px;
}